/* Estilos principales para la tarjeta del producto */
.product-card {
  display: flex;
  flex-direction: column; /* Apilamos los elementos de arriba hacia abajo */
  align-items: center;    /* Centrado horizontal */
  justify-content: center; /* Centrado vertical */
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Ajusta el tamaño según tus necesidades */
  margin: 10px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05); /* Un efecto de aumento al pasar el ratón */
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Alineamos los elementos dentro del contenedor de la info */
  height: 100%; /* Asegura que los elementos ocupen todo el alto de la tarjeta */
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px; /* Separación entre el nombre y el botón */
}

.action-btn {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

.action-btn:hover {
  background-color: #2980b9; /* Color al pasar el ratón */
}
